html{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
body{
	background-color: #D6EAF8;
}
.container{
	max-width: 450px;
	height: auto;
	background-color: #FDFEFE;
	margin: 5% auto;
	padding-bottom: 1rem;
}
.formtop{
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #5DADE2;
	margin-bottom: 1rem;
}
.formtop h2 {
	font-weight: bold;
	color: black;
	font-size: 18px;
}
h2 span{
	color: black;
}
.formreg{
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.btn_form{
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}
.input, .btn_submit, .btn_reset{
	background-color: #EBF5FB;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #A9CCE3 .2rem;
	transition: all .5s;
}
.input:focus{
	border-bottom: solid #29B6F6 .2rem;
}
.btn_submit, .btn_reset{
	width: 40%;
	border-bottom: none;
	background-color: #81C784;
	color: white;
}
.btn_reset{
	background-color: #EC7063;
}
.btn_submit:hover{
	background-color: #4CAF50;
}
.btn_reset:hover{
	background-color: #E53935;
}

{
	box-sizing:border-box}
.container {
  width: 100%; 
}
.skills {
	text-align: right; 
	padding-top: 1%; 
	padding-bottom: 1%; 
	color: black; 
}
.html {
	width: 90%; background-color: #4CAF50;
} 
.css {
	width: 80%; background-color: #2196F3;
} 
.js {
	width: 65%; background-color: #f44336;
} 
.php {
	width: 60%; background-color: #808080;
} 
.selected{
	cursor: pointer;
}
.selected:hover{
	background-color: #AED6F1;
	color: white;
}
.agg, .delete{
	background-color: #EBF5FB;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #A9CCE3 .2rem;
	transition: all .5s;
}
.agg, .delete	{
	width: 40%;
	border-bottom: none;
	background-color: #81C784;
	color: white;
}
.agg:hover{
	background-color: #4CAF50;
}
.delete{
	background-color: #EC7063;
}
.delete:hover{
	background-color: #E53935;
}	