body {

	color:white;
	font-family: arial;
	font-size: 20px;
}

.pp{
	width: 400px;
	background: ;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: Calibri;
	box-shadow: 7px 13px 37px #000;

  }

.controls{
	width: 100%;
	background:  #24303c;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 2px solid white;
	font-family: calibri;
	font-size: 15px;
	color: white;
}

.botoms{
	width: 69%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin: 14px 0;
	font-size: 12px;
	margin-left: 70px;
}

.botoms:hover{
	background-color: #CC00CC;
	transition: all .3s;
}
body{
	background-image: url(fondo.jpg);
	background-size: 95%
}
.btn_form{
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}
.btn_form{
	background-color: #EBF5FB;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #A9CCE3 .2rem;
	transition: all .5s;
}
.btn_form{
	width: 40%;
	border-bottom: none;
	background-color: #81C784;
	color: white;
}

.btn_form:hover{
	background-color: #4CAF50;
}
a{
	text-decoration: none;
	font-family: arial;
	color: white;
	border: solid 1px black;
	background-color: #5DADE2;
}